.department__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .depart__header {
        width: 85%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D6D6D6;

        .depart__title {
            display: inline-block;
            padding: 0.5rem 1.5rem;
            border-bottom: 3px solid var(--gree);
            font-size: 1.2vw;
        }

        .depart__search {
            display: flex;
            align-items: center;
            border: 1px solid #D6D6D6;
            border-radius: 5px;
            // padding: 0.rem 1rem;
            margin-bottom: 1vh;
            position: relative;

            input {
                margin-left: 1vw;
                font-size: 1vw;
                padding: 1vh 1vw;

                &::placeholder {
                    color: #D6D6D6;
                }

                &:focus {
                    outline: none;
                }

            }

            .search__img {
                position: absolute;
                content: '';
                left: 0;
                top: 6px;


                svg {
                    color: #D6D6D6;
                    width: 100%;
                    width: 2vw;
                    height: 3vh;
                }
            }
        }
    }

    .depart__wrap {
        width: 85%;
        margin-top: 4vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
        gap: 1vw;
        align-items: stretch;


        .depart__type {
            width: 100%;
            height: 15vh;
            padding: 1vw;
            border: 1px solid #D6D6D6;
            border-radius: 10px;

            .depart__box__header {
                height: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                margin-bottom: 1vh;
                text-align: left;

                h3 {
                    width: 75%;
                    font-weight: bold;
                    color: #434343;
                    font-size: 1vw;
                    line-height: 1.5;
                    // padding: 1vw;
                }

                .depart__percent {
                    width: 24%;
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.7vw;
                    padding: 0.5vw;
                    background-color: var(--primary-color);
                    line-height: 1;
                    color: var(--white);
                    border-radius: 5px;


                    p {
                        display: inline-block;
                        margin-left: 0.2vw;
                        line-height: 1;
                    }
                }
            }

            .depart_main {
                text-align: left;
                height: 40%;

                .depart__salary {
                    margin-bottom: 1vh;
                    line-height: 1;
                    font-size: 0.8vw;
                    font-weight: normal;
                    font-family: var(--mainfont-Gmarket);

                    span {
                        color: #7C7C7C;
                        line-height: 1;
                        margin-left: 1vw;

                    }
                }

                .depart__jop {
                    margin-bottom: 1vh;
                    line-height: 1;
                    font-size: 0.8vw;
                    font-weight: normal;
                    font-family: var(--mainfont-Gmarket);

                    span {
                        color: #7C7C7C;
                        line-height: 1;
                        margin-left: 1vw;

                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .department__wrap {

        .depart__header {

            .depart__title {}

            .depart__search {

                input {}

                .search__img {

                    svg {}
                }
            }
        }

        .depart__wrap {
            .depart__type {
                width: 100%;
                height: 14vh;

                .depart__box__header {

                    h3 {
                        width: 70%;
                        font-size: 1.2vw;
                    }

                    .depart__percent {
                        width: 29%;
                        font-size: 0.9vw;
                    }
                }

                .depart_main {

                    .depart__salary {
                        font-size: 1.1vw;
                    }

                    .depart__jop {
                        font-size: 1.1vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .department__wrap {

        .depart__header {

            .depart__title {}

            .depart__search {

                input {}

                .search__img {

                    svg {}
                }
            }
        }

        .depart__wrap {
            grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));

            .depart__type {
                width: 100%;
                padding-bottom: 3vh;

                .depart__box__header {

                    h3 {
                        width: 75%;
                        font-size: 1.7vw;
                    }

                    .depart__percent {
                        width: 24%;
                        font-size: 1.3vw;
                    }
                }

                .depart_main {
                    .depart__salary {
                        font-size: 1.6vw;
                    }

                    .depart__jop {
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .department__wrap {
        width: 100%;
        margin: 2vh 2vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .depart__header {
            width: 100%;

            .depart__title {
                font-size: 1.2rem;
            }

            .depart__search {
                // display: none;

                input {
                    font-size: 0.9rem;
                    margin-left: 1.5vw;
                }

                .search__img {
                    left: 0.5vw;
                    top: 0;
                }
            }
        }

        .depart__wrap {
            width: 98%;
            grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));

            .depart__type {
                width: 100%;
                padding: 2vw;

                .depart__box__header {

                    h3 {
                        font-size: 2.5vw;
                    }

                    .depart__percent {
                        font-size: 1.5vw;
                    }
                }

                .depart_main {

                    .depart__salary {
                        font-size: 1.6vw;
                    }

                    .depart__jop {
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .department__wrap {
        width: 100%;
        margin: 2vh 2vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .depart__header {
            width: 100%;

            .depart__title {
                font-size: 3.5vw;
            }

            .depart__search {
                display: none;
                // input {
                //     font-size: 0.9rem;
                // }

                // .search__img {
                //     top: 0.6rem;
                // }
            }
        }

        .depart__wrap {
            width: 98%;
            grid-template-columns: repeat(auto-fill, minmax(98%, 1fr));
            gap: 2.5vw;

            .depart__type {
                width: 100%;
                padding: 3vw;
                height: 20vh;

                .depart__box__header {

                    h3 {
                        font-size: 4.5vw;
                    }

                    .depart__percent {
                        font-size: 2.5vw;
                        padding: 1vw;
                    }
                }

                .depart_main {

                    .depart__salary {
                        font-size: 3.5vw;
                    }

                    .depart__jop {
                        font-size: 3.5vw;
                    }
                }
            }
        }
    }
}